h2{

color: white;
text-align: center;
}
body {
  background-image: url('https://img.freepik.com/free-photo/galaxy-night-panoramic_23-2148895344.jpg');
}
h1{
    text-align: center;
    color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.one{
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.two{
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.three{
    text-align:  center;
    color: aquamarine;
    font-size: 27px;

}
